body {
    width: 1366px;
    height: 1106px;
    background: #292929 0% 0% no-repeat padding-box;
    overflow: hidden;
}
.triangle {
    top: 266px;
    left: 369px;
    width: 780px;
    height: 689px;
    display: block;
    position: relative;
    margin: 0;
    &::after {
        content: "";
        background: transparent url('img/Triangle.png') 0% 0% no-repeat padding-box;
        width: 100%;
        opacity: 1;
        top: 10px;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    &::before {
        content: "";
        background: transparent url('img/Triangle Glow.png') 85% 70% no-repeat padding-box;
        width: 100%;
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 
    }
}